body {
  font-family: 'Days One', sans-serif;
  min-height: 100vh;
  background:
    radial-gradient(circle at top right,
      rgba(0, 120, 212, 0.15),
      transparent 60%),
    linear-gradient(180deg,
      #f5f9fd 0%,
      #ffffff 100%);
}

.card {
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(6px);
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.06);
}

@media screen and (max-width: 700px) {
  #logo {
    width: 75%;
  }

}

.container1 {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;


}

.navigation {
  display: flex;
  flex-flow: row wrap;
  background-color: rgba(82, 153, 245, 0.683);
  margin: 12px 0px;
  width: 100vw;
}


.navmenu {
  text-decoration: none;
  padding: 15px 20px;
  color: rgba(3, 33, 50, 0.913);
}

.navmenu:hover {
  color: white;
}

.search {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
  gap: 10px;
  padding-right: 10px;
}

.search input[name="search"] {
  height: 30px;
}



@media screen and (max-width: 700px) {
  .navigation {
    flex-direction: column;
    align-items: center;
  }

  .navmenu {
    padding: 10px;
  }
}

@media screen and (max-width:700px) {
  .floatContainer {
    max-width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 2px solid #45a1fe;
    padding: 5px;
    flex-wrap: wrap;
    margin: auto;

  }

}

@media screen and (min-width:800px) {
  .floatContainer {
    max-width: 500px;
    display: block;
    margin: auto;
    border: 2px solid #45a1fe;
    padding: 5px;



  }
}

.slideimage {
  width: 100%;
  height: 50vh;
  display: none;
}


.poster {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 24px;
  padding: 20px;
  justify-items: center;
}



.poster::-webkit-scrollbar {
  display: none;
}


.poster {
  scrollbar-width: none;
}

.poster img {
  padding: 10px;
}


@media screen and (max-width: 700px) {
  .poster {
    grid-template-columns: 1fr;
  }

  .slideimage {
    width: 300px;
    height: 300px;
    display: none;
  }
}

.image-container img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 10px;
}


.image-container img:hover {
  transform: scale(1.05);
  box-shadow: 0 18px 35px rgba(0, 0, 0, 0.25);
}


.image-description {
  margin-top: 10px;
  background: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 8px;
  border-radius: 8px;
  font-size: 14px;
  text-align: center;
  position: static;
  opacity: 1;
  visibility: visible;
}


.image-container:hover .image-description {
  visibility: visible;
  opacity: 1;
}



#music {
  margin: 30px 0px;

}

#comedy {
  margin: 30px 0px;

}


.foot {
  background-color: rgba(82, 153, 245, 0.683);
  text-align: center;
  padding: 10px;
}

.foot a {
  text-decoration: none;
  color: rgba(3, 33, 50, 0.913);
}

.foot a:hover {
  color: white;
}





input[name=name],
input[name=uname],
input[type=password],
input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #14dae8;
  box-sizing: border-box;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
  margin: 0em 1em;
}

.signupbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #58e7f1;
  margin: 0em 1em;
}


.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;

}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}


.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}


.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  width: 80%;
}


.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}


.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0)
  }

  to {
    -webkit-transform: scale(1)
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}


@media screen and (max-width: 600px) {
  span.psw {
    display: block;
    float: none;
  }

  .cancelbtn,
  .signupbtn {
    width: 100%;
    margin: 5px;
  }

  .logo {
    width: 75%;


  }

}


.profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  padding: 5px;
}


.dropdown-content {
  display: none;
  position: absolute;
  right: 10px;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

@media screen and (max-width: 700px) {
  .dropdown-content {
    background-color: rgb(84, 159, 235);

  }
}


.image-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.65);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}

.image-modal img {
  max-width: 85%;
  max-height: 85%;
  border-radius: 14px;
  box-shadow: 0 25px 50px rgba(0,0,0,0.45);
}

.image-modal-close {
  position: absolute;
  top: 25px;
  right: 35px;
  font-size: 36px;
  color: white;
  cursor: pointer;
}

.hidden {
  display: none;
}
